*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: rgb(239, 239, 239);
    width: 220vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color:rgb(42,188, 152);
    width: 1300px;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    margin: auto;
}
#id1{
    /* background-color:white; */
    /* background-image: sharanu.jpeg; */
    background: url(pic..jpg);
    width: 450px;
    height: 550px;
    /* display: flex; */
    /* justify-content: center; */
    margin: 50px 0px 0px 100px;
    border-radius: 10px;
}
#id2{
    background-color:white;
    /* border: solid 3px black; */
    width: 550px;
    height: 550px;
    margin:50px 0px 0px 0px;
    border-radius: 10px;
}
#input1{
    background-color: #ffffff;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    width: 250px;
    height: 30px;
    margin: 20px 0px 8px 60px;
    padding-left: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgb(248, 222, 222);
    /* text-align: center; */
}
#input2{
    background-color: #ffffff;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    width: 250px;
    height: 30px;
    margin: 20px 0px 8px 60px;
    padding-left: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgb(248, 222, 222);
    /* text-align: center; */
}
#input3{
   
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    /* width: 0px; */
    /* height: 0px; */
    margin: 20px 0px 8px 10px;
    /* text-align: center; */
}
#input4{
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    /* width: 0px; */
    /* height: 0px; */
    margin: 15px 10px 0px 80px;
    
    /* text-align: center; */
}
#input5{
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    /* width: 0px; */
    /* height: 0px; */
    margin: 0px 10px 0px 40px;
    /* border-radius: 10px; */
    border: none;
    box-shadow: 0px 0px 10px rgb(248, 222, 222);
    /* text-align: center; */
}
#input6{
    display: inline-block;
    width: 250px;
    height: 30px;
    margin: 20px 0px 8px 10px;
    padding-left: 10px;
    /* border-radius: 10px; */
    border: none;
    box-shadow: 0px 0px 10px rgb(248, 222, 222);
}
#input7{
    background-color: #ffffff;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    width: 250px;
    height: 30px;
    margin: 20px 0px 8px 70px;
    padding-left: 10px;
    /* border-radius: 10px; */
    border: none;
    box-shadow: 0px 0px 10px rgb(248, 222, 222);
    /* text-align: center; */
}
#input8{
    background-color: #ffffff;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    width: 250px;
    height: 30px;
    margin: 20px 0px 8px 45px;
    padding-left: 10px;
    /* border-radius: 10px; */
    border: none;
    box-shadow: 0px 0px 10px rgb(248, 222, 222);
    /* text-align: center; */
}
.class{
    display: inline-block;
    margin:auto;
}
label{
    color: black;
    display: inline-block;
    margin-left: 50px;
}
label:hover{
    color: rgb(42,188, 152);

}
#h1{
     display: inline-block; 
    color: white;
    text-align: center;
    font-size: 35px;
    /* margin-top: 150px; */
    /* margin-bottom: 100px; */
}
#span{
    display: inline-block;
    color:white;
    text-align: center;
    font-size: 16px;
    margin:70px 0px 0px 115px;
    padding-left: 10px;
    letter-spacing: 1px;
}
#h12{
    /* background-color: red; */
    display: inline-block;
    color:rgb(42,188, 152);
    text-align: center;
    margin: 30px 0px 0px 145px;
    font-size: 40px;
}
#span1{
    display: inline-block;
    margin-left: 150px;
    font-size: 10px;
   letter-spacing: 3px;
   word-spacing: 10px;
}
#a1{
    color: black;
    display: inline-block;
    margin-left: 50px ;
    text-decoration: none;
}
#a1:hover{
    color:rgb(42,188, 152) ;
    text-decoration: underline;
}
#a2{
    color: black;
    display: inline-block;
    margin-left: 30px ;
    text-decoration: none;
}
#a2:hover{
    color: rgb(42,188, 152);
    text-decoration: underline;
}
#a3{
    color: black;
    display: inline-block;
    margin:20px 0px 20px 30px ;
    text-decoration: none;
}
#a3:hover{
    color: rgb(42,188, 152);
    text-decoration: underline;
}
#button1{
    background-color:black;
    display: inline-block;
    border:none;
    width: 120px;
    height:40px;
    margin-left: 140px;
    color: white;
}
#button2{
    background-color:rgb(42,188, 152);
    display: inline-block;
    width: 120px;
    height:40px;
    margin-left: 20px;
    color: white;
    border: none;
}
#sh{
    color: white;
    display: inline-block;
    margin:20px 0px 0px 20px;
}